<style>
	body {background: url("http://cl.ly/image/3G1N0O3e1A1m/cloudy.png") no-repeat center center fixed;
	background-size: cover;
	color: grey;
	text-align: center;
	vertical-align: center;
	font-family: courier;
	font-size: 40px;
	margin-top: 200px;}
</style>
	
<h1> <%= "#{@weather}" %> </h1>

