<style>
	body {background: url("http://cl.ly/image/0J26093K2C0I/map.png") no-repeat center center fixed;
	background-size: cover;
	color: black;
	text-align: center;
	vertical-align: center;
	font-family: courier;
	font-size: 40px;
	margin-top: 200px;}
</style>

<h1> <%= "#{@weather}" %> </h1>