<style>
	body {background: url("http://cl.ly/image/0J26093K2C0I/map.png") no-repeat center center fixed;
	background-size: cover;
	color: black;
	text-align: center;
	font-family: courier;
	font-size: 40px;
	margin-top: 200px;}
</style>

<form method="post" action="/weather">
    Enter your location: <input type="text" name="post[location]" />
    <input type="submit" name="Search" />
</form>